
.navbar{
    display: inline-flex;
    margin: auto 250px;
    margin-top: 20px;
    box-shadow: 10px 10px blueviolet;
    border: 3px solid blue;
    width: 1000px;
}
.navbar h1{
    margin-left: 20px;
}
.navbar li{
    background-color: blueviolet;
    display: inline-flex;
    padding-left: 30px;
    margin-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 4px solid blue;
}
.navbar a{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}
.navbar li:hover{
    box-shadow: 3px 3px blueviolet;
}
.tiedot img{
    display: block;
    width: 200px;
    height: 225px;
    border: 4px solid blue;
    border-radius: 25%;
    margin: auto;
    margin-top: 50px;
    
}
.tiedot h1{
    text-align: center;

}
.tiedot p{
    text-align: center;
}
.skills{
    display: inline-block;
    border: 4px solid blue;
    background-color: blueviolet;
    border-radius: 15px;
    box-shadow: 5px 5px lightblue;
    width: 360px;
    height: 75px;
    margin-top: 30px;
    margin-left: 2px;
}
.skills h2{
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 16px;
    
}
.skills img{
    display: inline-block;
    width: 46px;
}
.skills progress{
    display: inline-block;
    vertical-align: baseline;
    margin-left: 12px;
    margin-right: 26px;
    height: 46px;
    accent-color: yellow;
    
}
.skills2 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: bold;
}
.contacts{
    display: inline-block;
    margin-left: 500px;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid blue;
    box-shadow: 10px 10px blueviolet;
}
.contacts h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutme p{
    margin-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
